@mixin primary-gradient-background {
  background: rgb(18, 18, 18);
  background: -moz-linear-gradient(
    36deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(6, 25, 96, 1) 32%,
    rgba(105, 18, 180, 1) 69%,
    rgba(146, 28, 248, 1) 100%
  );
  background: -webkit-linear-gradient(
    36deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(6, 25, 96, 1) 32%,
    rgba(105, 18, 180, 1) 69%,
    rgba(146, 28, 248, 1) 100%
  );
  background: linear-gradient(
    36deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(6, 25, 96, 1) 32%,
    rgba(105, 18, 180, 1) 69%,
    rgba(146, 28, 248, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121212",endColorstr="#921cf8",GradientType=1);
}

@mixin schedule-drawer {
  @include primary-gradient-background();
  position: absolute;
  width: 30rem;
  height: 100%;
  z-index: 100;
  @include transition-left();

  & .match-schedule-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    & img {
      height: 10rem;
    }
  }
}

@mixin center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@mixin schedule-section {
  width: 100%;
  position: absolute;
  background-color: #0000009e;
  height: 100%;
  right: 0;
  @include transition-opacity();
}

@mixin transition-left {
  transition: left 300ms ease-in-out;
}

@mixin transition-opacity {
  transition: display 600ms ease-in;
}

@mixin naked-anchor {
  text-decoration: none;
  color: inherit;
}

@mixin main-div-background {
  background: #00000069;
  border-radius: 10px;
}
