.main-page {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  visibility: unset;
}

.not-support {
  @include center-div();
  visibility: hidden;
  width: 80%;

  & p {
    font-weight: 500;
    font-size: 6rem;
  }
}
