.match-schedule {
  margin: 1rem 3rem;
  margin-left: 2rem;

  & .match{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    margin-bottom: 2rem;

    & img{
      height: 4rem
    }
  }
}

.match-schedule--inactive {
  @include schedule-section();
  display: none;
  z-index: 0;
}

.match-schedule-drawer--inactive {
  @include schedule-drawer();
  left: -28rem;
}

.match-schedule--active {
  @include schedule-section();
  display: block;
}

.match-schedule-drawer--active {
  @include schedule-drawer();
  left: 0rem;
}
